/* Navbar container */
.navbar {
  width: 100%;
  background: black;
  color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 30px;
  position: relative; 
  top: -15px;
  left: 0;
  z-index: 100;
}
/* Title with hover gradient effect */
.navbar-title {
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  background: rgb(0, 0, 0);
  background-size: 300%;
}

/* Menu styling */
.navbar-menu{
    display:flex;
    list-style:none;
    gap: 25px;
    color:whitesmoke;
    font-size:18px;
    margin:0;
    padding:0;

}
/* for right side logos */
.navbar-right{
    display: flex;
    align-items:center;
    gap: 20px;
}
/* button css*/
.navbar button{
    background-color: transparent;
    font-size: 16px;
    color: #5e73b7;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;

}
/* hover effect to button */
.navbar button:hover{
    background-color: tomato;

}
/* active className css  */
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;

}
/* css for li underline */
.navbar li{
    cursor:pointer;
    transition: 0.5s;

}
.navbar li:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;

}
/* basket css */
.navbar-search-icon{
    position:relative;
    
}
.navbar-search-icon{
    position:relative;
    width: 20px;
    height: 20px;
    cursor:pointer;
    filter: invert(100%);
}
.navbar-search-icon .dot{
    position:absolute;
    min-width:10px;
    min-height:10px;
    background-color: tomato;
    border-radius:5px;
    top:-8px;
    right:-8px;
}
@media(max-width:1050px){
    .navbar .logo{
        width:140px;

    }
    .navbar-menu{
        gap:20px;
        font-size: 17px;

    }
    .navbar-right{
        gap:30px;

    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media(max-width:900px){
    .navbar .logo{
        width:120px;

    }
    .navbar-menu{
        gap:15px;
        font-size: 16px;

    }
    .navbar-right{
        gap:20px;

    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
.navbar-profile{
    position: relative;

}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right:0;
    z-index: 1;


}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction:column;
    gap: 10px;
    background-color: black;
    padding: 12px 25px;
    border-radius: 4px;
    border:  1px solid tomato;
    outline: 2px solid black;
    list-style:none;

}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{
      color: whitesmoke;
}
@media(max-width:750px){

    .navbar-menu{
        display: none;
    }
}